div.section {
  width: 98%;
  margin: auto;
  padding: 10px;
}
div.one {
  width: 48%;
  min-height: 350px;
  float: left;
}
div.two {
  margin-left: 52%;
  min-height: 350px;
}
p#id_error {
  background: red;
}
body {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
}
